.completedChallengesContainer {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2.2rem 0;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;
    margin-top: 1.3rem;

    font-weight: 500;
    
}

.completedChallengesContainer span:first-child {

    font-size: 1.25rem;

}

.completedChallengesContainer span:last-child {

    font-size: 1.5rem;

}