.profileContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;

}

.personal_image {
    text-align: center;
  }
.personal_image input[type="file"] {
    display: none;
}
.personal_figure {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 0.8rem;
}
.personal_avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }

.personal_avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal_figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: all ease-in-out .3s;
    opacity: 0.1;
}
.personal_figcaption:hover {
    opacity: 0.8;
}
.personal_figcaption > img {
    margin-top: 28.5px;
    width: 50px;
    height: 50px;
}

.profileContainer div strong {

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);

}


.profileContainer div p {

    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-top: 0.5rem;
    margin-right: 1rem;

}

.profileContainer div p > img {

    margin-right: 5px;

}

