.global {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin-top: 1rem;
    position: absolute;
    bottom: 0.6rem;
    left: 0;

}

.global > button > img {

    height: 100%;
    width: 100%;

}

#buttonClose {

    background-color: transparent;
    width: 5vw;
    height: 10vh;
    border: 0;

}

.config {

    background-color: var(--blue-dark);
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: translateY(-43.5%);


}

.optionsConfig {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;

}

#closeOptions {

    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 5vh;
    width: 5vw;
    color: black;
    background-color: transparent;
    border: 0;

}

#imgClose {

    width: 5vw;
    height: 5vh;

}

#phraseConfig {

    color: black;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;

}

#phraseConfig2 {

    font-size: 1rem;
    color: black;
    margin-bottom: 2rem;


}

#tipsNumbers {

    margin-top: 2rem;
    color: black;
    font-size: 1.4rem;

}

#submittButton {

    background-color: var(--white);
    color: black;
    height: 5vh;
    width: 8vw;
    border: 0;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;

}

#inputNumber {

    background-color: transparent;
    color: black;
    border: 1px black solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    font-size: 2rem;
    width: 15vw;
    text-align: center;

}