.container {

    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    padding-bottom: 4rem;
    
    display: flex;
    flex-direction: column;

}



.container section {

    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;

}

@media (max-width: 430px) {

    .container {

        padding: 2.5rem 1rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;

    }

}